@model EXCELITAS.Models.GradeOrLevel

@{
    Layout = "_LayoutSuperAdmin";
}

<div class="card mt-5">
    <div class="card-header bg-secondary text-white">Form Update Data</div>
    <div class="card-body">

        @using (Html.BeginForm("Update", "SuperAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

               @Html.HiddenFor(m => m.Id_GradeLevel)     
               @*@Html.TextBoxFor(m=>m.Id, new{@class="form-control"})*@     

               <div class="mb-3">     
                   <label for="Nama_GradeLevel" class="form-label">Grade Or Level</label>     
                   @Html.TextBoxFor(m=>m.Nama_GradeLevel, new{@class="form-control"})     
               </div>     

               <button type="submit" class="btn btn-primary">Submit</button>     
               <button type="reset" class="btn btn-danger">Reset</button>     
        }
    </div>
</div>